#COMMENT FOR MASTER BRANCH ONLY
.idea
*.txt
*.iml
######################
#UNCOMMENT FOR MASTER BRANCH ONLY
#applicationWORKSHOP.jar
######################

/target
/logs
/security/target/
/sharedResources/target/
/logs/
/internal/target/
/external/target/
/internalREST/target/
/application/target/
/application/logs/
