#NOT TO BE VISIBLE ON MASTER BRANCH ONLY
.idea
*.txt
*.iml
/target
/logs
/security/target/
/sharedResources/target/
/logs/
/internal/target/
/external/target/
/internalREST/target/
/application/target/
/application/logs/
/sharedResources/src/main/resources/node_modules/
